@import "constant";


.menu_button
  {
    position: relative;
    margin: $indent/2 auto;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0);
    border: rgb(255, 255, 255) 1px solid;

    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    text-align: center;
    
    *:not(span){
      height: 35px;
      width: 35px;
      fill: rgb(255, 255, 255);
    }

    * &:hover .right
    {
        opacity: 1;
        left: calc(100% + 1.5em);
    }
    * &:hover .top
    {
        opacity: 1;
        bottom: calc(100% + 1.5em);
    }
    span
    {
      position: absolute;
      opacity: 0;
      transition: all .3s ease;
      font-size: 15px;
      padding: 12px;
      border-radius: $border;
      background-color: rgba(255, 255, 255, 0.801);

      &:before {
        position: absolute;
        content: "";
        height: 10px;
        transform: rotate(45deg);
        width: 10px;
      }
    }
    .right{
      left: calc(90% + 1.5em - 20px);
      top: 50%;
      transform: translateY(-50%);
      &:before
      {
        background: linear-gradient(45deg, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0) 50% 100%);
        top:calc(50% - 5px);
        left: 0;
        margin-left: -5px;
      }
    }
    .top{
      bottom: calc(90% + 1.5em - 20px);
      left: 50%;
      transform: translateX(-50%);
      &:before
      {
        background: linear-gradient(-45deg, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0) 50% 100%);
        right:calc(50% - 5px);
        bottom: 0;
        margin-bottom: -5px;
      }
    }
  }

.main_nav
{
  display: flex;
  flex-direction: column;
  position: fixed;
  height: calc(100vh - 100px);
  width: 90px;
  background: rgba(255,255,255, 0.1);
  -webkit-box-shadow: 7px 0px 30px -7px rgba(34, 60, 80, 0.5);
  -moz-box-shadow: 7px 0px 30px -7px rgba(34, 60, 80, 0.5);
   box-shadow: 7px 0px 30px -7px rgba(34, 60, 80, 0.5);
}

.main_footer
{
  display: flex;
  position: fixed;
  border-top-right-radius: 450px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 400px, rgba(255,255,255,0));
  bottom: 0;
  left: 0;
  min-width:380px;
  height: 100px;
  width: 400;

  // -webkit-box-shadow: 0px -7px 30px -7px rgba(34, 60, 80, 0.5);
  // -moz-box-shadow: 0px -7px 30px -7px rgba(34, 60, 80, 0.5);
  //  box-shadow: 0px -7px 30px -7px rgba(34, 60, 80, 0.5);

  .info
  {
    display: flex;
    margin: 0 15px ;
    height: 100%;
    width: 300px;
    .avatar
    {
      margin: auto 0;

      justify-items: center;
      height: 60px;
      width: 60px;
      border-radius: 500px;
      background: white;
      border: 6px solid $color2 ;
      *{
        box-sizing: border-box;
        height: 35px;
        width: 35px;
        fill: rgb(0, 0, 0);
      }
    }
    .bio
    {
      color: white;
      margin: auto $indent;
      #Nickname
      {
        font-size: 25px;
      }
      #Status
      {
        font-size: 15px;
        color: #c5c5c5;
      }
    }
  }
  .navigation
  {
    display: flex;
    justify-items: center;
  }
}

.options
{
  position: fixed;
  bottom: 0;
  right: 0;

  .menu_button
  {
    margin: $indent/2 $indent $indent/2 0;
  }

}

